:root {
  --background-color: #ffffff;
  --grey-background: #f0f0f0;
  --grey-backdrop: #e7e7e7;
  --inactive-color: #b8c4d9;
  --active-color: #0d3e64;

  --highlight-color: #cbced4;
  --green-color: #45a634;
  --yellow-color: #ffbb00;
  --red-color: #c9231e;

  --clear-text: #071027;
  --grey-text: #3b454f;
}

.dark-theme {
  --background-color: #1f2738;
  --grey-background: #29374a;
  --grey-backdrop: #232f40;
  --inactive-color: #3d4e69;
  --active-color: #2786ed;

  --highlight-color: #1a2130;
  --green-color: #13951e;
  --yellow-color: #edb717;
  --red-color: #c6231a;

  --clear-text: #e8e7ea;
  --grey-text: #6b7f94;
}
