@use '/variables' as *;

.device {
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  width: calc(100vw - clamp(min(15em, 30vh), min(15vw, 250px), 350px));
}
