@use '/variables' as *;

.energy {
  overflow-y: auto;
  overflow-x: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .dropdown {
      margin-inline-end: 1%;
    }
  }

  .page-card {
    color: var(--grey-text);
    display: flex;
    flex-direction: column;
    margin-inline: 6%;
    font-weight: bold;
    width: 92%;
    min-height: 55vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-block: 10px;
    text-align: left;
    text-indent: 20px;
    font-size: 1.1rem;
    background-color: var(--grey-background);

    &.energy-goals {
      min-height: 65vh;
      margin-bottom: 5vh;
      padding: 0;
    }

    .data-container {
      position: relative;
      display: flex;
      width: 100%;
      height: 95%;

      .consumption-list {
        position: absolute;
        list-style: none;
        height: 80%;
        min-width: 200px;
        margin-inline-start: -0.5%;
        width: 20%;
        top: 4%;

        li {
          position: relative;
          margin-bottom: 10px;
          display: flex;
          height: 25%;

          .pie-chart {
            position: relative;
            left: -20%;
            width: 50%;
            height: 100%;

            svg g g g path {
              stroke: none;
            }
          }

          .net-energy {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110%;
            width: 100%;

            .pie-chart {
              position: sticky;
              height: 1000%;
              width: 100%;
            }
          }

          .data-label {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 30%;

            p {
              margin: 0;
            }
            .label {
              color: var(--clear-text);
              position: absolute;
              top: 25%;
            }

            .details {
              position: absolute;
              top: 55%;
            }
          }
        }
      }

      .bar-chart {
        position: absolute;
        width: calc(100% - max(20%, 200px));
        height: 100%;
        right: 0;

        .MuiChartsAxis-line {
          stroke: var(--background-color);
        }

        .MuiChartsAxis-tickLabel {
          fill: var(--grey-text);
        }

        .MuiChartsAxis-tick {
          fill: var(--grey-background);
          display: 'none';
        }
      }
    }
  }

  .energy-goals {
    .MuiDataGrid-root {
      background-color: var(--grey-background);
      border: 0;
      color: var(--clear-text);

      div div {
        .MuiDataGrid-topContainer {
          .MuiDataGrid-columnHeaders .MuiDataGrid-row--borderBottom {
            background-color: var(--grey-background);

            .MuiDataGrid-columnHeader {
              border: 0;

              .MuiDataGrid-columnSeparator {
                color: var(--grey-text);
              }

              div button {
                color: var(--grey-text);
              }
            }
          }
        }

        .MuiDataGrid-virtualScrollerContent {
          [data-field='status'],
          [data-field='faultStatus'] {
            padding: 0;
          }

          div .MuiDataGrid-row .MuiDataGrid-cell {
            border-color: var(--grey-text);

            &:focus {
              outline: none;
            }

            .device-nav {
              cursor: pointer;
              font-weight: bold;
              color: var(--clear-text);

              &:hover {
                color: var(--active-color);
                text-decoration: underline;
              }
            }

            .power-cell {
              justify-content: flex-end;
            }
            .fault-cell {
              justify-content: flex-start;
            }

            .status-cell {
              height: 100%;
              display: flex;
              align-items: center;

              .value {
                height: 45%;
                display: flex;
                min-width: 50px;
                padding: 2px 3px;
                align-items: center;
                justify-content: center;
              }

              .power {
                border-radius: 10px 0 0 10px;
              }

              .fault {
                border-radius: 0 10px 10px 0;
              }
            }

            .actions {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;

              button {
                width: 45%;
                height: 75%;
                display: flex;
                min-width: unset;
                border-radius: 25px;
                align-items: center;
                justify-content: center;
                color: var(--clear-text);
                transition: background-color 0.1s, color 0.1s;

                &:hover {
                  background: var(--grey-background);
                  color: var(--active-color);
                }

                i {
                  padding-inline: 0.6rem;
                }
              }
            }
          }
        }

        div div {
          border-color: var(--grey-text);
        }
      }

      .MuiDataGrid-footerContainer {
        border-color: var(--grey-text);

        .MuiTablePagination-root {
          background-color: var(--grey-background);
          color: var(--grey-text) !important;

          .MuiToolbar-root .MuiTablePagination-actions button {
            color: var(--grey-text);
          }
        }
      }

      .MuiBox-root {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 1300px) {
  .energy .energy-data .data-container {
    display: flex;
    flex-direction: column-reverse;

    .consumption-list {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      margin-top: 0;
      height: 30%;
      width: 100%;
      top: -1%;

      li {
        height: 70%;
      }
    }

    .line-chart {
      position: relative;
      top: -2%;
      width: 100%;
      height: 75%;
    }
  }
}

@media (max-width: 1200px) {
  .energy .energy-data {
    height: 60%;
    .data-container {
      .consumption-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 50%;

        li {
          height: 90%;
        }
      }

      .line-chart {
        height: 60%;
      }
    }
  }
}

@media (max-width: 768px) {
  .energy {
    .energy-data {
      color: var(--grey-text);
      margin-inline: 0;
    }
  }
}
