@use '/variables' as *;

.automation {
  .fc {
    width: 90%;
    height: 85%;
    color: var(--clear-text);

    .fc-toolbar-chunk {
      display: flex;
    }

    // Calendar column header
    [role='columnheader'] div {
      background-color: var(--highlight-color);
      padding-block: 5px;

      a {
        color: var(--clear-text) !important;
      }
    }

    // Calendar grid
    [role='grid'] {
      border: 0;

      // Month view block
      .fc-daygrid-day-frame {
        background-color: var(--grey-background);
        transition: background-color 0.15s;
        cursor: pointer;

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--grey-text) 40%,
            transparent
          );
        }
      }
    }

    // Calendar month view - day cell (Today)
    .fc-day-today .fc-daygrid-day-frame {
      background-color: #ae992121 !important;

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--grey-text) 40%,
          transparent
        ) !important;
      }
    }

    // Calendar month view - day cell
    .fc-daygrid-day-number {
      color: var(--clear-text);
      transform: translateX(-30%);
    }

    // Calendar week/day view
    .fc-day {
      background-color: var(--grey-background);
      &.fc-day-today {
        background-color: #ae992121 !important;
      }
    }

    .fc-timegrid-slots table tbody tr {
      .fc-timegrid-slot-label {
        background-color: var(--highlight-color);
      }

      .fc-timegrid-slot {
        transition: background-color 0.1s;
        cursor: pointer;

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--grey-text) 40%,
            transparent
          );
        }
      }
    }

    // Calendar events
    .fc-daygrid-day-events .fc-event {
      background-color: var(--active-color);
      border: 3px var(--active-color);
      text-overflow: ellipsis;
      padding-block: 3px;
      margin-bottom: 3px;
      text-indent: 8px;
      color: #ffffff;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background-color: var(--background-color);
        transition: background-color 0.2s;
        color: var(--active-color);
      }
    }

    .fc-event {
      text-indent: 4px;
      border: 0px !important;
    }

    // Calendar scrollbar
    .fc-scroller::-webkit-scrollbar {
      display: none;
    }
  }
}

// Override FullCalendar styling
// All grid cells
.fc-theme-standard td,
.fc-theme-standard th {
  border: 0px;
}

// Grid day cell
.fc-theme-standard td {
  border: 2.4px solid var(--highlight-color) !important;
}

.event-actions {
  margin-top: 20px;
}
