@use '/variables' as *;

.home {
  overflow-x: hidden;
  overflow-y: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .dropdown {
      margin-inline-end: 1%;
    }
  }

  .energy-consumption {
    color: var(--grey-text);
    display: flex;
    flex-direction: column;
    margin-inline: 6%;
    font-weight: bold;
    width: 93%;
    height: 60%;
    margin-block: 3vh;
    border-radius: 10px;
    padding-block: 10px;
    text-align: left;
    text-indent: 20px;
    font-size: 1.1rem;
    background-color: var(--grey-background);
  }

  .item-container {
    display: flex;
    width: 93%;
    height: 29%;
    margin-bottom: 3vh;
    gap: 20px;

    .item {
      background-color: var(--grey-background);
      color: var(--grey-text);
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      padding-block: 10px;
      text-indent: 20px;
      font-size: 1.1rem;
      font-weight: bold;
      text-align: left;
      display: flex;
      flex: 1;

      .header {
        padding-right: 2%;
      }

      .dropdown-toggle {
        min-width: 110px !important;
      }

      &.pie-item {
        display: flex;

        .pie-data {
          display: flex;
          position: relative;
          align-items: center;
          height: 90%;
          width: 100%;

          .pie-chart {
            padding-left: 15px;
            margin-top: 2%;
            width: 100%;
            left: -10%;
            height: clamp(5vw, 75%, 10vw);

            svg .centerLabel {
              font-size: 1.5rem;
              font-weight: bold;
            }
          }

          .data-label {
            width: clamp(100px, 200px, 40%);
            position: absolute;
            flex-direction: column;
            display: flex;
            left: 55%;
            top: 20%;

            p {
              margin: 0;
              text-indent: 0;
            }

            .label {
              color: var(--clear-text);
              font-size: 1rem;
              position: relative;
            }

            .details {
              font-size: 0.9rem;
              position: relative;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .home .energy-consumption .data-container {
    display: flex;
    flex-direction: column-reverse;

    .consumption-list {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      margin-top: 0;
      height: 30%;
      width: 100%;
      top: -1%;

      li {
        height: 70%;
      }
    }

    .line-chart {
      position: relative;
      top: -2%;
      width: 100%;
      height: 75%;
    }
  }
}

@media (max-width: 1200px) {
  .home .energy-consumption {
    height: 60%;
    .data-container {
      .consumption-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 50%;

        li {
          height: 90%;
        }
      }

      .line-chart {
        height: 60%;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .energy-consumption {
      color: var(--grey-text);
      margin-inline: 0;
    }
  }
}

@media (max-width: 475px) {
  .home .energy-consumption {
    height: 75%;

    .data-container {
      .consumption-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding-inline-start: 0;
        height: 50%;
        top: -3.5%;

        li {
          height: 90%;
          margin-bottom: 10px;
        }
      }

      .line-chart {
        height: 60%;
      }
    }
  }
}
