@use '/variables' as *;

.devices {
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  width: calc(100vw - clamp(min(15em, 30vh), min(15vw, 250px), 350px));

  .MuiDataGrid-root {
    margin-block: 12vh 3vh;
    width: 90%;
    background-color: var(--grey-background);
    border: 0;
    color: var(--clear-text);

    div div {
      .MuiDataGrid-topContainer {
        .MuiDataGrid-columnHeaders .MuiDataGrid-row--borderBottom {
          background-color: var(--highlight-color);

          .MuiDataGrid-columnHeader {
            border: 0;

            .MuiDataGrid-columnSeparator {
              color: var(--grey-text);
            }

            div button {
              color: var(--grey-text);
            }
          }
        }
      }

      .MuiDataGrid-virtualScrollerContent {
        [data-field='status'],
        [data-field='faultStatus'] {
          padding: 0;
        }

        div .MuiDataGrid-row .MuiDataGrid-cell {
          border-color: var(--grey-text);

          &:focus {
            outline: none;
          }

          .device-nav {
            cursor: pointer;
            font-weight: bold;
            color: var(--clear-text);

            &:hover {
              color: var(--active-color);
              text-decoration: underline;
            }
          }

          .power-cell {
            justify-content: flex-end;
          }
          .fault-cell {
            justify-content: flex-start;
          }

          .status-cell {
            height: 100%;
            display: flex;
            align-items: center;

            .value {
              height: 45%;
              display: flex;
              min-width: 50px;
              padding: 2px 3px;
              align-items: center;
              justify-content: center;
            }

            .power {
              border-radius: 10px 0 0 10px;
            }

            .fault {
              border-radius: 0 10px 10px 0;
            }
          }

          .actions {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            button {
              width: 45%;
              height: 75%;
              display: flex;
              min-width: unset;
              border-radius: 25px;
              align-items: center;
              justify-content: center;
              color: var(--clear-text);
              transition: background-color 0.1s, color 0.1s;

              &:hover {
                background: var(--highlight-color);
                color: var(--active-color);
              }

              i {
                padding-inline: 0.6rem;
              }
            }
          }
        }
      }

      div div {
        border-color: var(--grey-text);
      }
    }

    .MuiDataGrid-footerContainer {
      border-color: var(--grey-text);

      .MuiTablePagination-root {
        background-color: var(--highlight-color);
        color: var(--grey-text) !important;

        .MuiToolbar-root .MuiTablePagination-actions button {
          color: var(--grey-text);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .devices {
    top: 10vh;
    right: 1;
    width: 100%;
    height: 90vh;
    position: fixed;

    .MuiDataGrid-root {
      margin-block: 3vh 3vh;
    }
  }
}
