$background-color: #1f2738;
$highlight-color: #1a2130;
$active-color: #2992ff;
$clear-text: #fefdff;
$grey-text: #6b7f94;

.navbar {
  top: 0;
  left: 0;
  width: 11%;
  z-index: 100;
  min-width: 200px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $background-color;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-header {
  padding-top: 30px;
  padding-bottom: 80px;
}

.navbar-logo {
  display: flex;
  height: 5%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $clear-text;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.navbar-links li {
  padding-block: 10px;
  text-align: left;
}

.bi {
  font-size: 110%;
  padding-right: 1rem;
}

.nav-button {
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline: 15%;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  color: $grey-text;
  text-decoration: none;
  border-radius: 0 10px 10px 0;
  transition: background-color 0.2s, color 0.2s;
}

.nav-button.active {
  background-color: $highlight-color;
  color: $active-color;
}

.nav-button.active div {
  left: 0;
  height: inherit;
  width: 0.6rem;
  position: fixed;
  background-color: $active-color;
}

.navbar-links a:hover {
  background-color: $highlight-color;
  color: $active-color;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-logo {
    left: 0;
    padding-left: 10%;
  }

  .navbar-toggle {
    display: flex;
    margin-right: 8%;
  }

  .navbar-links {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); /* Add a slight offset for sliding effect */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

    &.open {
      opacity: 1;
      height: 40vh;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .navbar-toggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    transition-duration: 0.5s;
    background-color: $active-color;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  .navbar-toggle.active .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  .navbar-toggle.active #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  .navbar-toggle.active #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  .navbar-toggle.active #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  .navbar-toggle.active .toggle {
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
}
