#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.loading {
  position: absolute;
  z-index: 100;
  top: 43%;
}

.page-content {
  width: calc(100vw - clamp(min(15em, 30vh), min(15vw, 250px), 350px));
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: flex;
  height: 100%;
  right: 0;
  top: 0;

  .page-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 11%;
    width: 90%;

    .page-title {
      font-size: 2rem;
    }

    button {
      transition: background-color 0.1s, color 0.1s;
      background-color: var(--active-color);
      border: 2px solid var(--active-color);
      color: var(--clear-text);
      text-transform: none;
      align-items: center;
      border-radius: 5px;
      padding-block: 4px;
      font-weight: bold;
      font-size: 1rem;
      display: flex;
      height: 45%;

      i {
        font-size: 1.3rem;
        padding-right: 10px;
      }

      &:hover {
        background-color: var(--highlight-color);
        color: var(--active-color);
      }
    }
  }
}

.MuiModal-root {
  .MuiBox-root {
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 32px;
    position: absolute;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);

    .modal-details-container {
      margin-block: 15px;
      display: flex;
      flex-direction: column;

      .field-name {
        padding-bottom: 5px;
      }
    }

    .MuiFormControl-root {
      left: -8px;
      background-color: var(--grey-background);

      input {
        font-size: 0.95rem;
        color: var(--clear-text);
      }
    }

    .modal-table {
      display: grid;
      grid-template-columns: auto 1fr;
      margin-block: 15px;
      gap: 2px 25px;

      .field-name {
        padding-bottom: 7px;
      }

      .input-field-name {
        padding-top: 7px;
      }
    }

    #modal-description {
      margin-bottom: 25px;
    }

    .actions {
      justify-content: space-between;
      display: flex;

      .cancel-btn {
        background-color: #5c6d80;
      }

      .delete-btn {
        background-color: var(--off-color);
      }

      .submit-btn {
        background-color: var(--on-color);
      }

      .update-btn {
        background-color: var(--active-color);
        padding-inline: 1.3rem;

        &.Mui-disabled {
          background-color: var(--grey-background);
        }

        i {
          padding-right: 0.6rem;
        }
      }

      Button {
        color: var(--clear-text);
        padding-inline: 0.6rem;
        height: 40px;

        i {
          padding-right: 0.4rem;
        }
      }
    }
  }

  .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.pie-chart svg g g g path {
  stroke: none !important;
}

.line-chart {
  .MuiChartsAxisHighlight-root {
    stroke: var(--active-color) !important;
    stroke-width: 2 !important;
  }
}

.MuiChartsAxis-label text {
  fill: var(--grey-text) !important;
  font-size: 1rem !important;
}

.line-chart .MuiChartsAxis-directionY .MuiChartsAxis-label {
  transform: translateY(40%) !important;
}

@media (max-width: 768px) {
  .page-content {
    top: 10vh;
    right: 1;
    width: 100%;
    height: 90vh;
    position: fixed;
  }
}
